@charset "UTF-8";
/* resetCSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

body {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.3em;
  background-color: #161618;
  vertical-align: middle;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.i_lg_sm {
  font-size: 15px;
}

.i_sm {
  font-size: 30px;
}

.i_m {
  font-size: 45px;
}

.i_lg {
  font-size: 11em;
}

.header {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  letter-spacing: 0.1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  font-family: "Sriracha", cursive, sans-serif;
}
.header .sidemenu {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
}
.header .sidemenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .sidemenu ul li {
  margin: 100px 10px 0;
  font-size: 2em;
}
.header .sidemenu ul li a {
  padding: 5px;
}
.header .sidemenu ul li a:hover {
  opacity: 0.5;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
}
.header_content_title {
  font-size: 2em;
  margin-left: 10px;
}
.header_content_nav ul {
  display: flex;
}
.header_content_nav ul li {
  margin-right: 30px;
  height: 100%;
}
.header_content_nav ul li a {
  padding: 15px;
  position: relative;
}
.header_content_nav ul li a .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.473);
}
.header_content .toggle_wrap {
  z-index: 100;
  margin-right: 20px;
  display: none;
}
.header_content .toggle_wrap .toggle {
  padding: 10px;
  cursor: pointer;
}
.header_content .toggle_wrap .toggle span {
  display: block;
  width: 18px;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}
.header_content .toggle_wrap .toggle .toggle2 {
  margin: 5px 0;
}
.header_content .toggle_wrap.open .toggle span {
  background: #ff0000;
}
.header_content .toggle_wrap.open .toggle .toggle1 {
  width: 11px;
  transform: translate(-1.5px, 3px) rotate(-45deg);
}
.header_content .toggle_wrap.open .toggle .toggle3 {
  width: 11px;
  transform: translate(-1.5px, -3px) rotate(45deg);
}

.header_clone {
  height: 60px;
  background-color: #f4f5f7;
  letter-spacing: 0.1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  font-family: "Sriracha", cursive, sans-serif;
  width: 100%;
  position: fixed;
  top: -100%;
  left: -100%;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s;
}
.header_clone .header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 60px;
}
.header_clone .header_content a {
  color: #333;
}
.header_clone .header_content_title {
  font-size: 1.5em;
  margin-left: 10px;
}
.header_clone .header_content_nav ul {
  display: flex;
}
.header_clone .header_content_nav ul li {
  margin-right: 30px;
  height: 100%;
}
.header_clone .header_content_nav ul li a {
  padding: 5px;
  position: relative;
}
.header_clone .header_content_nav ul li a .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.5);
}
.header_clone .toggle_wrap {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  display: none;
}
.header_clone .toggle_wrap .toggle {
  padding: 13px;
  cursor: pointer;
}
.header_clone .toggle_wrap .toggle span {
  display: block;
  width: 18px;
  height: 2px;
  background: #333;
  transition: all 0.3s;
}
.header_clone .toggle_wrap .toggle .toggle2 {
  margin: 5px 0;
}
.header_clone .toggle_wrap.open .toggle span {
  background: #ff0000;
}
.header_clone .toggle_wrap.open .toggle .toggle1 {
  width: 11px;
  transform: translate(-1.5px, 3px) rotate(-45deg);
}
.header_clone .toggle_wrap.open .toggle .toggle3 {
  width: 11px;
  transform: translate(-1.5px, -3px) rotate(45deg);
}

.header_clone.active {
  top: 0;
  left: 0;
  opacity: 0.95;
  width: 100%;
}

.fv {
  font-family: "Sriracha", cursive, sans-serif;
  letter-spacing: 0.4em;
  color: #333;
  min-height: 670px;
  height: 80vh;
  background-image: url(../img/fv_exsample.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fv_content {
  text-align: left;
}
.fv_content_welcome {
  display: inline-block;
  font-size: 1.6em;
  position: relative;
  padding-left: 29px;
  letter-spacing: 0.2em;
}
.fv_content_welcome::after {
  content: "";
  height: 1px;
  width: 100px;
  opacity: 0;
  -webkit-animation-name: border;
          animation-name: border;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: #333;
}
.fv_content_welcome .pen {
  position: absolute;
  left: 55px;
  top: -15px;
  opacity: 0;
  -webkit-animation-name: pen-animation;
          animation-name: pen-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: rgba(0, 0, 0, 0.8);
}
.fv_content_title {
  font-size: 4em;
  margin-top: 15px;
}
.fv_content_text {
  margin-top: 15px;
  line-height: 25px;
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  opacity: 0;
}
.fv_content_text.active {
  opacity: 1;
}

.p-top {
  padding-top: 100px;
}

.section_title {
  text-align: center;
  font-family: "Sriracha", cursive, sans-serif;
  font-size: 3.5em;
  position: relative;
  padding: 5px;
}
.section_title::before {
  content: "";
  height: 3px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f5f7;
}

.main_container {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

main {
  letter-spacing: 0.1em;
  color: #fff;
}
main ::-moz-selection {
  background: #fff;
  color: #333;
}
main ::selection {
  background: #fff;
  color: #333;
}
main ::-moz-selection {
  background: #f4f5f7;
  color: #161618;
}

.about h1 {
  opacity: 0;
}

.about_flex {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  opacity: 0;
}
.about_flex .about_left {
  width: 40%;
}
.about_flex .about_left .about_image_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #f4f5f7;
  border-radius: 150px;
}
.about_flex .about_left .about_image_frame img {
  border-radius: 150px;
  height: 290px;
  width: 290px;
}
.about_flex .about_right {
  width: 55%;
}
.about_flex .about_right .my_name {
  font-size: 1.6em;
  padding: 15px 0;
  margin-top: 15px;
  text-shadow: -1px -2px 3px rgb(0, 0, 0);
  position: relative;
  font-family: "Sriracha", cursive, sans-serif;
}
.about_flex .about_right .my_name::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 125px;
  background-color: #f4f5f7;
}
.about_flex .about_right .about_caption {
  font-weight: 600;
  height: 250px;
  overflow: auto;
}
.about_flex .about_right .about_caption p {
  margin-bottom: 10px;
}
.about_flex .about_right .about_caption p:first-child {
  margin-top: 25px;
}
.about_flex .about_right .icon_list ul {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.about_flex .about_right .icon_list ul li {
  margin: 0 5px;
}

.skill_text {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 50px 0;
}

.skill_caption1,
.skill_caption2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px;
  opacity: 0;
}
.skill_caption1 li i,
.skill_caption2 li i {
  transition: all 0.5s;
}
.skill_caption1 li p,
.skill_caption2 li p {
  text-align: center;
}

button {
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  margin: 5px;
  outline: none;
  cursor: pointer;
}

.works {
  padding-bottom: 100px;
}

.works_item:first-child {
  margin-top: 80px;
}

.works_item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  opacity: 0;
}
.works_item .works_left {
  width: 25%;
}
.works_item .works_left .works_title {
  padding: 10px 5px;
  margin-top: 50px;
  position: relative;
  font-size: 1.1em;
}
.works_item .works_left .works_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 200px;
  background-color: #f4f5f7;
}
.works_item .works_left .works_caption {
  margin-top: 30px;
  padding: 5px;
}
.works_item .works_left .works_caption ul {
  font-size: 0.9em;
}
.works_item .works_right {
  width: 60%;
  height: 90%;
}
.works_item .works_right .works_image_frame {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
}
.works_item .works_right .works_image_frame :hover {
  box-shadow: 3px 3px 10px 5px #f4f5f7;
  transform: translateY(-5px);
  border-radius: 10px;
}
.works_item .works_right .works_image_frame img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.works_item_2 {
  flex-direction: row-reverse;
}

footer {
  border-top: 1px solid #f4f5f7;
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-family: "Sriracha", cursive, sans-serif;
}
footer .footer_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copy {
  padding: 5px;
}
footer .btn_scroll {
  color: white;
  transition: 0.3s;
  padding: 0 25px;
  margin-right: 25px;
}
footer .btn_scroll i {
  line-height: 50px;
}
footer .btn_scroll:hover {
  transform: translateY(-5px);
}
footer .icon {
  padding: 5px;
  margin-right: 5px;
}
footer .icon :hover {
  opacity: 0.8;
}
footer .icon .twitter {
  color: rgb(76, 124, 212);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
footer .icon .git {
  color: gray;
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1024px) {
  /* 1024pxからの幅の場合に適応される */
  body {
    font-size: 16px;
  }
  .container {
    max-width: 980px;
  }
  .main_container {
    max-width: 750px;
  }
  .about_left .about_image_frame {
    height: 105%;
    width: 105%;
  }
  .about_left .about_image_frame img {
    height: 100%;
    width: 100%;
  }
  .works_left {
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  /* 800pxからの幅の場合に適応される */
  body {
    font-size: 15px;
  }
  .container {
    max-width: 740px;
  }
  .main_container {
    max-width: 550px;
  }
  .i_lg {
    font-size: 9em;
  }
  .header_content_nav {
    display: none;
  }
  .header_content .toggle_wrap {
    display: block;
  }
  .fv_content {
    text-align: center;
  }
  .fv_content_welcome {
    padding: 0px;
  }
  .fv_content_welcome::after {
    width: 100px;
    left: 5%;
  }
  .fv_content_title {
    font-size: 3.5em;
  }
  .fv_content_text {
    font-size: 0.9em;
  }
  .about_flex {
    display: block;
    text-align: center;
  }
  .about_flex .about_left {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .about_flex .about_right {
    width: 100%;
  }
  .about_flex .about_right .about_caption {
    height: 100%;
    font-weight: 500;
  }
  .about_flex .about_right .icon_list ul {
    justify-content: center;
  }
  .skill_text {
    font-weight: 500;
  }
  .works_item .works_left .works_title {
    margin-top: 0px;
  }
  .works_item .works_left .works_title::before {
    width: 100px;
  }
}
.fix_text {
  font-size: 4px;
  color: rgb(255, 152, 68);
}

.fix_works {
  cursor: help;
}

@media screen and (max-width: 650px) {
  /* 650pxからの幅の場合に適応される */
  .works_item {
    display: block;
  }
  .works_item:first-child {
    margin-top: 40px;
  }
  .works_item .works_left {
    width: 100%;
  }
  .works_item .works_left .works_title {
    margin-top: 30px;
    font-size: 1.5em;
  }
  .works_item .works_left .works_title::before {
    width: 300px;
  }
  .works_item .works_left .works_caption {
    font-size: 1.2em;
  }
  .works_item .works_left .works_caption ul {
    display: flex;
  }
  .works_item .works_left .works_caption ul li {
    margin: 0 10px;
  }
  .works_item .works_right {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* 480pxからの幅の場合に適応される */
  .main_container {
    max-width: 360px;
  }
  .header_content .toggle_wrap .toggle {
    padding: 20px;
  }
  body {
    font-size: 14px;
  }
  .i_lg {
    font-size: 6em;
  }
  .fv_content_text {
    font-size: 0.95em;
    letter-spacing: 0;
  }
  .works {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  /* 320pxからの幅の場合に適応される */
  body {
    font-size: 12px;
  }
  .works_item:first-child {
    margin-top: 10px;
  }
  .works_item .works_left {
    width: 100%;
  }
  .works_item .works_left .works_title {
    margin-top: 0px;
    font-size: 1.3em;
  }
  .works_item .works_left .works_title::before {
    width: 250px;
  }
  .works_item .works_left .works_caption {
    font-size: 1.1em;
  }
  .works_item .works_left .works_caption ul {
    display: flex;
  }
  .works_item .works_left .works_caption ul li {
    margin: 0 5px;
    border-bottom: 1px solid #fff;
  }
  .i_sm {
    font-size: 20px;
  }
  footer .btn_scroll {
    margin-right: 55px;
  }
}
.skill_caption1 li:nth-child(1):hover .html {
  color: rgb(255, 115, 0);
}

.skill_caption1 li:nth-child(2):hover .css {
  color: rgb(97, 111, 189);
}

.skill_caption1 li:nth-child(3):hover .js {
  color: rgb(224, 255, 86);
}

.skill_caption2 li:nth-child(1):hover .vue {
  color: rgb(65, 252, 127);
}

.skill_caption2 li:nth-child(2):hover .php {
  color: rgb(211, 119, 230);
}

.skill_caption2 li:nth-child(3):hover .git {
  color: rgba(168, 168, 168, 0.726);
}

@-webkit-keyframes pen-animation {
  0% {
    left: 0;
    transform: translateY(10px);
  }
  10% {
    left: 30px;
    transform: translateY(-10px);
    opacity: 1;
  }
  20% {
    left: 45px;
    transform: translateY(10px);
  }
  30% {
    left: 50px;
    transform: translateY(-10px);
  }
  50% {
    left: 60px;
    transform: translateY(10px);
  }
  60% {
    left: 75px;
    transform: translateY(-10px);
  }
  70% {
    transform: translateX(10px);
    transform: translateY(25px);
  }
  80% {
    rtransform: translateX(50px);
    transform: translateY(25px);
  }
  100% {
    transform: translateY(25px);
    transform: translateX(100px);
    opacity: 1;
  }
}

@keyframes pen-animation {
  0% {
    left: 0;
    transform: translateY(10px);
  }
  10% {
    left: 30px;
    transform: translateY(-10px);
    opacity: 1;
  }
  20% {
    left: 45px;
    transform: translateY(10px);
  }
  30% {
    left: 50px;
    transform: translateY(-10px);
  }
  50% {
    left: 60px;
    transform: translateY(10px);
  }
  60% {
    left: 75px;
    transform: translateY(-10px);
  }
  70% {
    transform: translateX(10px);
    transform: translateY(25px);
  }
  80% {
    rtransform: translateX(50px);
    transform: translateY(25px);
  }
  100% {
    transform: translateY(25px);
    transform: translateX(100px);
    opacity: 1;
  }
}
@-webkit-keyframes border {
  0% {
    transform: scale(0);
  }
  20%, 50%, 70% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes border {
  0% {
    transform: scale(0);
  }
  20%, 50%, 70% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */