@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease-out,
  $delay: 0s,
  $iteration-count: infinite,
  $direction: normal,
  $fillmode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fillmode
  }
}
